

@include keyframes(radialwave) {
    0%{
        box-shadow: 0 0 0 1px #516975, 0 0 0 0 #506874;
    }
    30%{
        box-shadow: 0 0 0 3px rgba(33,73,85,.4), 0 0 3px 15px rgba(80,104,116,.2);
    }
    100%{
        box-shadow: 0 0 0 rgba(80,104,116,.2);
    }
}





















