@import "mixins/mixins";

@include keyframes(move){
        0% { @include rotate(0deg); } 
        25% { @include rotate(5deg); } 
        50% { @include rotate(0deg); } 
        75% { @include rotate(-5deg); } 
        100% { @include rotate(0deg); }
    }


@include keyframes(radialwave) {
    0%{
        box-shadow: 0 0 0 1px #516975, 0 0 0 0 #506874;
    }
    30%{
        box-shadow: 0 0 0 3px rgba(33,73,85,.4), 0 0 3px 15px rgba(80,104,116,.2);
    }
    100%{
        box-shadow: 0 0 0 rgba(80,104,116,.2);
    }
}

@include keyframes(input-highlight) {
    0% {
        background-size: 0 2px, 100% 2px;
    }

    100% {
        background-size: 100% 2px, 100% 2px;
    }
}
@include keyframes(input-highlight-small) {
    0% {
        background-size: 0 1px, 100% 1px;
    }

    100% {
        background-size: 100% 1px, 100% 1px;
    }
}
/*@keyframes input-highlight {
  
}*/

/*.edit-shift:hover, .remove-shift:hover{
    @include animation-name(move);
    @include animation-duration(.3s);
    @include animation-fill-mode(both);
    @include animation-iteration-count(1);
    
}*/













