@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  50% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-moz-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  50% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-ms-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  50% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-o-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  50% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  50% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-webkit-keyframes radialwave {
  0% {
    box-shadow: 0 0 0 1px #516975, 0 0 0 0 #506874; }
  30% {
    box-shadow: 0 0 0 3px rgba(33, 73, 85, 0.4), 0 0 3px 15px rgba(80, 104, 116, 0.2); }
  100% {
    box-shadow: 0 0 0 rgba(80, 104, 116, 0.2); } }
@-moz-keyframes radialwave {
  0% {
    box-shadow: 0 0 0 1px #516975, 0 0 0 0 #506874; }
  30% {
    box-shadow: 0 0 0 3px rgba(33, 73, 85, 0.4), 0 0 3px 15px rgba(80, 104, 116, 0.2); }
  100% {
    box-shadow: 0 0 0 rgba(80, 104, 116, 0.2); } }
@-ms-keyframes radialwave {
  0% {
    box-shadow: 0 0 0 1px #516975, 0 0 0 0 #506874; }
  30% {
    box-shadow: 0 0 0 3px rgba(33, 73, 85, 0.4), 0 0 3px 15px rgba(80, 104, 116, 0.2); }
  100% {
    box-shadow: 0 0 0 rgba(80, 104, 116, 0.2); } }
@-o-keyframes radialwave {
  0% {
    box-shadow: 0 0 0 1px #516975, 0 0 0 0 #506874; }
  30% {
    box-shadow: 0 0 0 3px rgba(33, 73, 85, 0.4), 0 0 3px 15px rgba(80, 104, 116, 0.2); }
  100% {
    box-shadow: 0 0 0 rgba(80, 104, 116, 0.2); } }
@keyframes radialwave {
  0% {
    box-shadow: 0 0 0 1px #516975, 0 0 0 0 #506874; }
  30% {
    box-shadow: 0 0 0 3px rgba(33, 73, 85, 0.4), 0 0 3px 15px rgba(80, 104, 116, 0.2); }
  100% {
    box-shadow: 0 0 0 rgba(80, 104, 116, 0.2); } }
.edit-shift:hover, .remove-shift:hover {
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/*# sourceMappingURL=animate.css.map */
