@import "mixins/mixins",
        "bootstrap/bootstrap",
        "sprites/sprite",
        "modules/select2.css";

::-moz-selection {background: #607d8b; color:#ebeff2;}
::selection {background: #607d8b; color:#ebeff2;}
body{
    height: 100%;
}

a{
    @include transition(border-color, .4s, linear);
}

nav{
    @include size(80px, 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: #90a4ae;
    text-align: center;
    @include box-shadow(2px 63px 5px rgba(0,0,0,.5));
    
    .logo_wrapper{
        display: table-cell;
        vertical-align: middle;
        @include size(80px, 70px);
        text-align: center;
    }
    .logo{
        @include square(50px);
        background: url("../img/logo.png") center no-repeat;
        display: inline-block;
        border: none;
    }
    .nav_wrapper{
        position: relative;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        display: block;
        position: relative;
        z-index: 2;
        a{
            display: block;
            border: none;
            padding: 35px 5px;
            i{
                display: block;
                @include size(50px, 55px);
                margin: 5px auto;
                background: url("../img/navigate.png") no-repeat;
            }
            span{
                display: inline-block;
                font-size: 14px;
                line-height: 24px;
                color: #fff;
                font-weight: 500;
            }
        }
    }    
    .nav_pointer{
        position: absolute;
        width: 80px;
        left: -80px;
        background: #6e8995;
        /*@include transition(top, .3s, ease-out);*/
        z-index: 1;
    }
}
.no-js{
    nav li{
        background: transparent;
        @include transition(background, .2s, ease-out);
    }
    nav li:hover, nav li.active{
        background: #6e8995;
    }
}
header{
    position: relative;
    z-index: 2;
    height: 60px;
    background: #607d8b;
    @include box-shadow(5px 5px 5px rgba(0,0,0,.5));
    padding: 0 10px 0 110px;
    form{
        float: right;
        margin-top: 13px;
        .header_button_ico{
            @include square(34px);
            margin: 0 3px;
            padding: 0;
            outline: none;
            position: relative;
            box-shadow: none;
            cursor: pointer;
            background: url("../img/header.png") no-repeat;
            border: none;
            &.logout{
                margin-left: -5px;
            }
            &:after{
                content: "";
                @include square(1px);
                display: block;
                position: absolute;
                top: -2px;
                left: -2px;
                border: 19px solid transparent;
                border-radius: 50%;
                opacity: 0;
                z-index: -1;
                box-shadow: 0 0 0 7px #214955, 0 0 1px 12px #506874;
                @include transition(box-shadow, .3s, ease-out);
            }
            &:hover:after{
                opacity: 1;
                box-shadow: 0 0 0 1px #516975, 0 0 0 0 #506874;
            }
        }
        
    }
    h1{
        color: #fff;
        line-height: 60px;
    }
	
}
footer{
    position: relative;
    z-index: 2;
    height: 95px;
    background: #cfd8dc;
    color: #727272;
    font-size: 14px;
    font-weight: 100;
    line-height: 25px;
    padding: 35px 20px 35px 110px;
    hr{
        display: inline-block;
        vertical-align: middle;
        border: none;
        @include size(0, 12px);
        border-left: 1px solid #a7acaf;
    }
    a{
        color: #727272;
        border-bottom-color: transparent;
        &:hover{
            border-bottom-color: #727272;;
        }
    }
}
#content{
    position: relative;
    z-index: 1;
    min-height: calc(100% - 155px);
    width: 100%;
    padding: 50px 20px 20px 110px;
}
.saving{
    position: absolute;
    top: 40px;
    right: 20px;
    font-weight: 100;
    font-size: 18px;
    line-height: 34px;
    color: #727272;
    i{
        display: inline-block;
        vertical-align: middle;
        @include square(34px);
        border-radius: 50%;
        background: #fff;
        box-shadow: 1px 2px 5px rgba(0,0,0,.22);
        margin: -2px 10px 0 0;
        padding: 5px 6px;
    }
}

.tooltip {
    z-index:999;
    left:-9999px;
    top:-9999px;
    background:#f5f7f8;
    @include box-shadow(1px 2px 5px rgba(0,0,0,.22));
    color:#727272;
    padding: 12px 20px;
    position:absolute;
    overflow: hidden;
    @include box-sizing(border-box);
    width: auto;
    p{
        margin: 5px 0;
        padding: 0;
    }
    & > *:first-child{margin-top: 0;}
    & > *:last-child{margin-bottom: 0;}
}

[class^=ico_]{
    display: inline-block;
    @include square(30px);
    border-radius: 50%;
    vertical-align: middle;
}

.popup{
    position: absolute;
    background: #f5f7f8;
    padding: 10px 25px;
    @include box-shadow(1px 2px 2px rgba(0,0,0,.22));
    display: none;
    opacity: 0;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    z-index: 100;
    .popup_title{
        font-size: 24px;
        line-height: 36px;
        color: #222;
        font-weight: 100;
        margin: 3px 0 25px;
    }
}
.popup-open{
    cursor: pointer;
}

.button-ok{
    display: inline-block;
    @include square(45px);
    vertical-align: middle;
    background: url("../img/ok.png") no-repeat center;
    border-radius: 45%;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
}

.input_wrapper{
    @include transition(all, .2s, ease-in-out);
    &:after{
        content: "";
        width: 0;
        height: 1px;
        background: #607d8b;
        position: absolute;
        bottom: 0;
        left: 50%;
        opacity: 0;
        @include transition(all, .2s, ease-in-out);
    }
    &.focus{
        @include box-shadow(1px 3px 2px rgba(0,0,0,.22));
    }
    &.focus:after{
        left: 0;
        width: 100%;
        opacity: 1;
    }
    .input_label{
        @include transition(all, .3s, linear);
    }
}

.select_wrapper .select2-container{
    width: 100% !important;
}

input[type="checkbox"]{
    display:none;
    & + label{
        cursor: pointer;
        padding-left: 22px;
        display: inline-block;
        position: relative;
    }
    & + label::before{
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -8px;
        @include square(14px);
        border: 1px solid #455a64;
        @include transition(all, .2s, ease);
    }
    &:checked + label::before{
        border-color: #3dbaf3;
        border-style: none none solid solid;
        @include size(15px, 7px);
        @include rotate(-50deg);
        margin-top: -5px;
    }
}


.profile_header{
    padding: 63px 0 0 145px;
    h2{
        color: #607d8b;
    }
}
.profile_header_avatar{
    float: left;
    position: relative;
    margin: -36px 23px 0 -145px;
    @include square(122px);
    overflow: hidden;
    border-radius: 50%;
    img{
        display: block;
        @include square(122px);
        overflow: hidden;
        border-radius: 50%;
    }
    input[type="file"]{
        position: absolute;
        top: 0;
        left: 0;
        min-height: 122px;
        min-width: 122px;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
    }
}
.profile_header_icons i{
    margin-right: 10px;
}

.profile_header_name{
      height: 54px;
  line-height: 54px;
}
.profile_header_name i{
    cursor: pointer;
}
.profile_header_name input[type="text"]{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    font-weight: 100;
    padding: 0;
    height: 54px;
    display: inline-block;
    vertical-align: baseline;
    line-height: 54px;
}

.profile_header_change-password{
    float: right;
    position: relative;
    margin-top: 13px;
    .popup{
        width: 260px;
        right: 35px;
        top: 5px;
        .input_wrapper{
            margin: 25px 0 15px;
            display: block;
            & + .input_wrapper{
                margin-top: 31px;
            }
        }
    }
    .profile_header_change-password_submit{
        text-align: right;
        margin-top: 10px;
    }
}

$column_space: 95px;
.profile_body{
    & > div{
        display: inline-block;
        vertical-align: top;
        width: calc( (100% - 95px) / 2 );
    }
    & > div + div{
        margin-left: $column_space;
    }
    h3{
        color: #222;
        margin: 30px 0 15px;
    }
}

.profile_body_timezone{
    margin: 24px 0 70px;
    display: block;
}

.profile_body_alerts{
    border: none;
    border-collapse: collapse;
    margin: -10px 0 30px;
    th, td{
        text-align: left;
        vertical-align: top;
        padding: 9px;
        font-weight: 100;
    }
    th{
        padding-left: 0;
        min-width: 200px;
    }
}
.profile_body_social-checkbox{
    margin: 22px 0 5px;
    i{
        display: inline-block;
        @include square(32px);
        background: url("../img/social.png") no-repeat;
        vertical-align: middle;
    }
    input[type="checkbox"] + label{
        padding: 0 34px 0 0;
    }
    input[type="checkbox"] + label::before{
        left: auto;
        right: 0;
    }
    label ~ label{
        margin-left: 85px;
    }
}
.profile_body_time-interval{
    font-size: 24px;
    color: #455a64;
    text-align: center;
    line-height: 51px;
    max-width: 420px;
    margin: 24px 0 70px;
    .input_wrapper{
        @include size(150px, 52px);
        i{
            display: block;
            position: absolute;
            background-color: #607d8b;
            @include size(38px, 41px);
            top: 7px;
            border-radius: 0;
        }
        input{
            text-align: center;
            @include box-sizing(border-box);
            color: #727272;
            line-height: 51px;
            height: 51px;
        }
    }
    .input_wrapper.pull-left{
        i{left: 7px;}
        input{padding-left: 41px;}
    }
    .input_wrapper.pull-right{
        i{right: 7px;}
        input{padding-right: 41px;}
    }
}

.radial-effect{
    position: relative;
    &:after{
        content: "";
        @include square(100%);
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        border: 50% solid transparent;
        border-radius: 50%;
        opacity: 0;
        z-index: -1;
        @include transition(box-shadow, .3s, ease-out);
    }
    &:hover:after{
        opacity: 1;
        @include animation-name(radialwave);
        @include animation-duration(.5s);
        @include animation-fill-mode(none);
        @include animation-iteration-count(1);
    }

}

@include keyframes(radialwave) {
    0%{
        box-shadow: 0 0 0 1px #516975, 0 0 0 0 #506874;
    }
    30%{
        box-shadow: 0 0 0 3px rgba(33,73,85,.4), 0 0 3px 15px rgba(80,104,116,.2);
    }
    100%{
        box-shadow: 0 0 0 rgba(80,104,116,.2);
    }
}
























