
$path: "./../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/mixins";

// Mixins
// --------------------------------------------------

// Utilities
@import "./twitter-bootstrap/hide-text";
@import "././twitter-bootstrap/opacity";
@import "./twitter-bootstrap/image";
@import "./twitter-bootstrap/resize";
@import "./twitter-bootstrap/size";
@import "./twitter-bootstrap/tab-focus";
@import "./twitter-bootstrap/text-overflow";
@import "./twitter-bootstrap/vendor-prefixes";

// Skins
@import "./twitter-bootstrap/border-radius";
@import "./twitter-bootstrap/gradients";

// Layout
@import "./twitter-bootstrap/clearfix";
@import "./twitter-bootstrap/center-block";



@mixin triangle-shape-up ($size, $color) {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: $color transparent;
    border-width: 0 $size $size;
}

@mixin triangle-shape-bottom ($size, $color) {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: $color transparent;
    border-width: $size $size 0;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
