.nav_punkt_schedule i {
  background-position: -15px -19px; }

.nav_punkt_company i {
  background-position: -15px -102px;
  height: 35px; }

.nav_punkt_profile i {
  background-position: -15px -170px;
  height: 48px; }

.nav_punkt_billing i {
  background-position: -15px -263px;
  height: 40px; }

.nav_punkt_help i {
  background-position: -14px -339px;
  height: 51px; }

.header_button_ico.logout {
  background-position: -225px center; }
.header_button_ico.delete {
  background-position: -187px center; }
.header_button_ico.print {
  background-position: -143px center; }
.header_button_ico.settings {
  background-position: -95px center; }
.header_button_ico.add {
  background-position: -46px center; }
.header_button_ico.plus {
  background-position: 1px center; }

[class^=ico_] {
  background: url("../img/sprite.png") no-repeat; }
  [class^=ico_].ico_phone {
    background-position: 1px 0;
    border-radius: 0; }
  [class^=ico_].ico_change-name {
    background-position: 1px -45px; }
  [class^=ico_].ico_change-password {
    background-position: 1px -85px; }
  [class^=ico_].ico_email {
    background-position: 0 -128px;
    border-radius: 0; }
  [class^=ico_].ico_time {
    background-position: -35px -84px;
    width: 25px; }
  [class^=ico_].ico_select-day {
    background-position: -32px 0;
    border-radius: 0; }
  [class^=ico_].ico_current-day {
    background-position: -32px -47px;
    border-radius: 0; }
  [class^=ico_].ico_geoposition {
    background-position: 0 -213px;
    border-radius: 0; }
  [class^=ico_].ico_remove-gray, [class^=ico_].ico_edit-gray {
    width: 21px;
    height: 21px;
    border-radius: 0;
    cursor: pointer; }
  [class^=ico_].ico_remove-gray {
    background-position: -5px -249px; }
    [class^=ico_].ico_remove-gray:hover {
      background-position: -35px -249px; }
  [class^=ico_].ico_change-gray {
    background-position: -1px -272px; }
  [class^=ico_].ico_edit-gray {
    background-position: -5px -276px; }
    [class^=ico_].ico_edit-gray:hover {
      background-position: -35px -276px; }
  [class^=ico_].ico_small-pointer {
    width: 16px;
    height: 16px;
    background-position: -3px -302px;
    border-radius: 0; }

.profile_body_social-checkbox .social-fb {
  background-position: -1px 0; }

.profile_body_social-checkbox .social-tw {
  background-position: -35px 0; }

.profile_body_social-checkbox .social-gp {
  background-position: -69px 0; }

.color-5e35b1 {
  background: #5e35b1; }

.color-d32f2f {
  background: #d32f2f; }

.color-d32f2f {
  background: #d32f2f; }

.color-00796b {
  background: #00796b; }

.color-e5c90e {
  background: #e5c90e; }

.color-ab17bc {
  background: #ab17bc; }

.color-17bca3 {
  background: #17bca3; }

.color-1736bc {
  background: #1736bc; }

.color-97bc17 {
  background: #97bc17; }

.color-d98b8b {
  background: #d98b8b; }

.color-e84a1d {
  background: #e84a1d; }

.color-8bb6cf {
  background: #8bb6cf; }

.color-0e8db0 {
  background: #0e8db0; }

.color-1c72a3 {
  background: #1c72a3; }

.color-dadada {
  background: #dadada; }

/*.color-{background: #;}*/

/*# sourceMappingURL=sprite.css.map */
