.nav_punkt_schedule i {
  background-position: -15px -19px; }

.nav_punkt_company i {
  background-position: -15px -102px;
  height: 35px; }

.nav_punkt_profile i {
  background-position: -15px -170px;
  height: 48px; }

.nav_punkt_billing i {
  background-position: -15px -263px;
  height: 40px; }

.nav_punkt_help i {
  background-position: -14px -339px;
  height: 51px; }

.nav_punkt_availability i {
  background-position: -14px -425px;
  height: 62px;
  width: 54px; }

.header_button_ico.logout {
  background-position: -225px 0; }
.header_button_ico.delete {
  background-position: -187px 0; }
.header_button_ico.print {
  background-position: -143px 0; }
.header_button_ico.settings {
  background-position: -95px 0; }
.header_button_ico.add {
  background-position: -46px 0; }
.header_button_ico.plus {
  background-position: 1px 0; }
.header_button_ico.add-2 {
  background-position: -264px 0; }
.header_button_ico.logout:active {
  background-position: -225px -30px; }
.header_button_ico.delete:active {
  background-position: -187px -30px; }
.header_button_ico.print:active {
  background-position: -143px -30px; }
.header_button_ico.settings:active {
  background-position: -95px -30px; }
.header_button_ico.add:active {
  background-position: -46px -30px; }
.header_button_ico.plus:active {
  background-position: 1px -30px; }
.header_button_ico.add-2:active {
  background-position: -264px -30px; }

[class^=ico_] {
  background: url("../img/sprite.png") no-repeat; }
  [class^=ico_].ico_phone {
    background-position: -30px -449px;
    border-radius: 0; }
    [class^=ico_].ico_phone:hover:not(.disabled), [class^=ico_].ico_phone.active {
      background-position: 1px 0; }
    [class^=ico_].ico_phone.disabled {
      opacity: .3;
      cursor: default; }
  [class^=ico_].ico_change-name {
    background-position: 1px -45px; }
  [class^=ico_].ico_change-password {
    background-position: 1px -85px; }
    [class^=ico_].ico_change-password:hover, [class^=ico_].ico_change-password.active {
      background-position: -33px -415px; }
  [class^=ico_].ico_email {
    background-position: 0 -128px;
    border-radius: 0; }
    [class^=ico_].ico_email:hover:not(.disabled), [class^=ico_].ico_email.active {
      background-position: 0 -450px; }
    [class^=ico_].ico_email.disabled {
      opacity: .3;
      cursor: default; }
  [class^=ico_].ico_time {
    background-position: -2px -416px;
    width: 30px; }
  [class^=ico_].ico_select-day {
    background-position: -32px 0;
    border-radius: 0; }
  [class^=ico_].ico_current-day {
    background-position: -32px -47px;
    border-radius: 0; }
  [class^=ico_].ico_geoposition {
    background-position: 0 -213px;
    border-radius: 0; }
    [class^=ico_].ico_geoposition:hover:not(.disabled), [class^=ico_].ico_geoposition.active {
      background-position: -30px -213px; }
    [class^=ico_].ico_geoposition.disabled {
      opacity: .3;
      cursor: default; }
  [class^=ico_].ico_remove-gray, [class^=ico_].ico_edit-gray, [class^=ico_].ico_available, [class^=ico_].ico_schedule {
    width: 21px;
    height: 21px;
    border-radius: 0;
    cursor: pointer; }
  [class^=ico_].ico_remove-gray {
    background-position: -5px -249px; }
    [class^=ico_].ico_remove-gray:hover, [class^=ico_].ico_remove-gray.active {
      background-position: -35px -249px; }
  [class^=ico_].ico_change-gray {
    background-position: -1px -272px; }
  [class^=ico_].ico_edit-gray {
    background-position: -5px -276px; }
    [class^=ico_].ico_edit-gray:hover {
      background-position: -35px -276px; }
  [class^=ico_].ico_small-pointer {
    width: 16px;
    height: 16px;
    background-position: -3px -302px;
    border-radius: 0; }
  [class^=ico_].ico_available {
    background-position: -6px -362px; }
    [class^=ico_].ico_available:hover, [class^=ico_].ico_available.active {
      background-position: -34px -362px; }
  [class^=ico_].ico_schedule {
    background-position: -6px -327px; }
    [class^=ico_].ico_schedule:hover, [class^=ico_].ico_schedule.active {
      background-position: -34px -327px; }

.profile_body_social-checkbox .social-fb {
  background-position: -1px 0; }

.profile_body_social-checkbox .social-tw {
  background-position: -35px 0; }

.profile_body_social-checkbox .social-gp {
  background-position: -69px 0; }

.color-5e35b1 {
  background: #5e35b1; }

.color-d32f2f {
  background: #d32f2f; }

.color-d32f2f {
  background: #d32f2f; }

.color-00796b {
  background: #00796b; }

.color-e5c90e {
  background: #e5c90e; }

.color-ab17bc {
  background: #ab17bc; }

.color-17bca3 {
  background: #17bca3; }

.color-1736bc {
  background: #1736bc; }

.color-97bc17 {
  background: #97bc17; }

.color-d98b8b {
  background: #d98b8b; }

.color-e84a1d {
  background: #e84a1d; }

.color-8bb6cf {
  background: #8bb6cf; }

.color-0e8db0 {
  background: #0e8db0; }

.color-1c72a3 {
  background: #1c72a3; }

.color-dadada {
  background: #dadada; }

.color-e53935 {
  background: #e53935; }

.color-43a047 {
  background: #43a047; }

.color-0e8db0 {
  background: #0e8db0; }

.color-1c72a3 {
  background: #1c72a3; }

.color-0e6f76 {
  background: #0e6f76; }

.color-147063 {
  background: #147063; }

.color-3da081 {
  background: #3da081; }

.color-ed7425 {
  background: #ed7425; }

.color-e84a1d {
  background: #e84a1d; }

.color-8e410d {
  background: #8e410d; }

.color-8e3db8 {
  background: #8e3db8; }

.color-e16764 {
  background: #e16764; }

/*.color-{background: #;}*/

/*# sourceMappingURL=sprite.css.map */
