.nav_punkt_schedule i{
    background-position: -15px -19px;
}
.nav_punkt_company i{
    background-position: -15px -102px;
    height: 35px;
}
.nav_punkt_profile i{
    background-position: -15px -170px;
    height: 48px;
}
.nav_punkt_billing i{
    background-position: -15px -263px;
    height: 40px;
}
.nav_punkt_help i{
    background-position: -14px -339px;
    height: 51px;
}

.header_button_ico{
    &.logout{ background-position: -225px center;}
    &.delete{ background-position: -187px center;}
    &.print{ background-position: -143px center;}
    &.settings{ background-position: -95px center;}
    &.add{ background-position: -46px center;}
    &.plus{ background-position: 1px center;}
}

[class^=ico_]{
    background: url("../img/sprite.png") no-repeat;
    &.ico_phone{
        background-position: 1px 0;
        border-radius: 0;
    }
    &.ico_change-name{background-position: 1px -45px;}
    &.ico_change-password{background-position: 1px -85px;}
    &.ico_email{
        background-position: 0 -128px;
        border-radius: 0;
    }
    &.ico_time{background-position: 4px -171px;}
}

.profile_body_social-checkbox .social-fb{background-position: -1px 0;}
.profile_body_social-checkbox .social-tw{background-position: -35px 0;}
.profile_body_social-checkbox .social-gp{background-position: -69px 0;}



